.cards{
    margin-left: 20px;
    border-radius: 15px;
    background: rgb(224, 198, 198);
    width:330px;
    height: 300px;
    margin-bottom: 50px;
}
.block{
    display: flex;
  justify-content: space-evenly;
}
.img-tile{
    padding-left: 50px;
    height:300px;
    width:250;
}

.name{
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.post{
    font-weight: 700;
    display: flex;
    justify-content: center;
}
