.form{
    margin-left: 50px;
}
.para-1{
    margin-top: 1px;
    padding-left: 50px;  
    padding-right: 50px;
    margin-bottom: 20px;
    color: black;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.cat-1{
    all:unset;
    height:32px;
    display: flex;
    width: 472px;
    padding: 8px 16px;
    border: 1px solid #000;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.cat-1:hover{
        transition: 0.3s ease;
        background-color: black;
        color: white;
}
.general-1{
    all:unset; 
    padding:6px 16px;
    background: #D01C28;    
    height:32px;
    width:210px;
    color: white;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
}
.general-1:hover{
    transition: 0.3s ease;
    background-color: brown;
}
.guitar{
    padding-top: 50px;
    display: flex;
    width: 589px;
    height: 553px;
    border-radius: 100%;
}
.form_container{
    padding-bottom: 10px;
}
.form_container input{
    display:flex;
    flex-direction: column;
    width: 500px;
    height: 30px;
    border-radius: 8px;
}
